body {
    background-image: url(https://img.freepik.com/free-vector/flat-design-bakery-template_23-2149389475.jpg?w=2000);
    color: white;
    font-family: "Roboto", sans-serif;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr 60px;
   
}

.header-flex {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-flex img {
    height: 80px;
}

.navbar-flex {
    align-items: center;
    margin-right: 20px;
}

.navbar-flex a {    
    color: brown;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.navbar-flex button {
    background: linear-gradient(#FF4C4C, #A94E97);
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border:none;
}

.banner-flex {
    margin-top: 80px;
    grid-column: span 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 80px 20px 20px 20px;
}

.banner-flex h1 {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    color: #FF4C4C;
    justify-content: center;
    align-items: center;
    padding: 115px 5px;
    border: 10px solid #FF9002;
    border-radius: 20px;
    background-color: #FFC479;
    
}

.banner-flex img {
    display: flex;
    flex-wrap: wrap;
    border: 10px solid #FF4C4C;
    border-radius: 20px;
    width: 400px;
   
    
}


form {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form legend {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
   
    
}
form fieldset {
    background-color: #ffe5e5;
    padding-top: 3em;
    border: 10px solid #FF4C4C;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    justify-items: center;
    text-align: center;
    color: black;
}

form button {
    background: linear-gradient(#FF4C4C, #A94E97);
    color: white;
    border-radius: 20px;
    border: none;

}
.footer {
    grid-column: span 2;
    justify-content: center;
    padding: 10px 0 10px 20px;
    background: linear-gradient(#FF4C4C, #A94E97);
    color: white;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
      
      .navbar-flex {
          display: none;
      }
      #menuchk:checked + .navbar-flex {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: flex-end; 
          position: absolute;
          top: 60px;
          left: 0
          right: 10px; 
      }
  
      .burger {
          display: block;
          font-size: 2em;
      }
  }
  /* Mobile and Tablet Styles */
  @media only screen and (max-width: 960px) {
    
    .banner-flex, form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
    }
    .banner-flex img {
        margin-top: -200px;
    }
   
      }
  